*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f6f7f9;
}
#offer .row i{
    color: #f2521e;
    font-size: 30px;
}
#application img{
    width: 100%;
    height: 400px;
}
#application i{
    color: #f2521e;
}
#news img{
    width: 100%;
    height: 200px;
}
#news h4{
    color: #f2521e;
}
.navbar-collapse{
    justify-content: flex-end;
    
    }
.navbar-expand-sm{
    width: 100%;
    }
.navbar .icon1{
    color: #f2521e;
    
}
.menu{
    background: #f2521e;
   
}
.nav i{
    color: white;
}
#footer {
    background: #0e0f11;
}
#footer span{
    color: #f2521e;
}
.foot{
    background: #141416;
}
.foot span{
    color: #f2521e;
}
